@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme static {
  --font-display: "Baloo 2", "sans-serif";
  --default-font-family: "Roboto", "sans-serif";

  --breakpoint-xs: 520px;

  --color-black: #262626;
  --color-white: #f9f9f9;

  --color-primary: #a2a77f;
  --color-secondary: #06062d;
}
